@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800;900&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
    scroll-behavior: smooth;
    z-index: 1;
}

body{
    background-color: white;
    /*background-color: #edd6be;
    background: url('/images/ltotbngnzzu.jpg') no-repeat;
    background-position: center;
    background-size: cover;*/
    animation: transitionIn 1.5s;
    align-items: center;
    min-height: 100vh;
}

@keyframes transitionIn{
    from{
        opacity: 0;
        transform: rotateX(-10deg);
    }

    to{
        opacity: 1;
        transform: rotateX(0);
    }
}