.container {
    position: relative;
    width: 100%;
    height: 75vh;
    color: black;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: transparent;
    /*margin-left: 115px;*/
}

.container h1{
    font-size: 80px;
    font-weight: 600;
}


.container h2{
    padding-top: 75px;
}

.Button-Container{
    display: flex;
    justify-content: center;
}

.container button{
    margin: 75px 0 0 0;
    width: 400px;
    height: 50px;
    font-size: 23px;
    background-color: #f0af36d2;
}
  
  button{
    position: absolute;
    display: block;
  } 

/* CSS */
.moving-button {
  position: absolute;
  appearance: none;
  background-color: #FFFFFF;
  border-radius: 40em;
  border-style: none;
  box-shadow: rgb(211, 170, 116) 0 -12px 6px inset;
  box-sizing: border-box;
  color: #000000;
  cursor: pointer;
  display: inline-block;
  font-family: -apple-system,sans-serif;
  font-size: 1.2rem;
  font-weight: 700;
  letter-spacing: -.24px;
  margin: 0;
  outline: none;
  padding: 1rem 1.3rem;
  quotes: auto;
  text-align: center;
  text-decoration: none;
  transition: all .15s;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
}

.moving-button:hover {
  background-color: #f8e5bb;
  box-shadow: white 0 -6px 8px inset;
  transform: scale(1.125);
}

.moving-button:active {
  transform: scale(1.025);
}

@media (min-width: 768px) {
  .moving-button {
    font-size: 1.5rem;
    padding: .75rem 2rem;
  }
}

#paint-bg {
  position: fixed;
  left: 0; top: 0;
  width: 100vw;
  height: 100vh;
  z-index: 0;
  pointer-events: none;
  overflow: hidden;
}
#paint-bg .blob {
  position: absolute;
  border-radius: 50%;
  pointer-events: none;
  /*animation: fadeBlob 20s forwards;*/
  filter: blur(4px);
  box-shadow: 0 0 24px 8px var(--blob-color, #000);
}
@keyframes fadeBlob {
  0% { opacity: 1; }
  75% { opacity: 1; }
  100% { opacity: 0; }
}

.paint-drip {
  position: absolute;
  width: 4px;
  height: 0;
  border-radius: 2px;
  opacity: 0.7;
  z-index: 0;
  pointer-events: none;
  background: inherit;
  transition: height 10s linear; /* Way slower */
  filter: blur(4px);
}